<% provide(:title, 'All Tasks')%>
<h1><%= current_user.name %>のタスク一覧</h1>

<div class="row"></div>
<div class="col-md-10 col-md-offset-1">
    <a class="btn btn-lg btn-primary pull-right" href="tasks/new">タスク新規作成</a>
    <table class="table table-hover" id="table-tasks">
      <thead>
        <tr>
          <th>名称</th>
          <th>作成日</th>
          <th><%= Task.human_attribute_name :name %></th>
        </tr>
      </thead>
       <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
      </tr>
      <% end %>
    </tbody>
